$blockName: 'app-dropdown-list';
.#{$blockName} {

	&__toggle {
		cursor: pointer;
		padding: 5px;
	}

	&__title-text {
		padding: 20px;
	}

	&__list {
		height: 0;
		display: block;
		overflow: hidden;
	}

	&__list-item {
		overflow: hidden;
		cursor: pointer;
	}

	&.isOpen {
		background: #ccc;

		.#{$blockName} {
			&__list {
				transition: all 2s ease;
				height: 100%;
			}
		}
	}
}
